@model IEnumerable<Lunes_Assignment3_MVC.Models.Transaction>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

<h1>@_localizer["YourTransactions"]</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @_localizer["TransactionName"]
            </th>
            <th>
                @_localizer["TransactionAmount"]
            </th>
            <th>
                <p>
                    <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="fas fa-plus"></i> @_localizer["NewTransaction"]</a>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionName)
                </td>
                <td>
                    @_localizer["Currency"] @Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.TransactionId"><i class="fas fa-edit fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.TransactionId" class="text-danger ml-1" onclick="return confirm('@_localizer["Sure"]')"><i class="fas fa-eraser fa-lg"></i></a>
</td>

</tr>
        }
    </tbody>
</table>
